<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
    <connectionStrings>
      <!--<add name="BillingApplicationContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=BillingSystem;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="BillingSystemEntities" connectionString="metadata=res://*/BillingApplication.csdl|res://*/BillingApplication.ssdl|res://*/BillingApplication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SATYAJITSHAH\sqlexpress;initial catalog=BillingSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>